.label {
    display: flex;
    flex-direction: column;
}

.toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #b1b1b1;
    border-radius: 34px;
    transition: background-color 0.4s;
    cursor: pointer;

    &:has(input:checked) {
        background-color: $green;
    }

    @apply p-1.5 w-16 h-8;
}

.slider {
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;

    @apply w-6 h-6;
}

.checkbox {
    display: none;

    &:checked + .slider {
        @apply translate-x-7;
    }
}
