@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color: var(--text);
    background-color: var(--secondary);
    letter-spacing: -0.05rem; // Josefin Sans font only.
}

h1 {
    @apply font-bold md:text-7xl text-5xl;
}

h6 {
    @apply text-2xl font-semibold;
}

input, button {
    @apply p-4 max-w-sm;

    &::placeholder {
        color: var(--text-dark);
    }
}

input, button, textarea, .box {
    
    &:not(.default) {
        @apply bg-primary rounded-lg shadow-lg border-b-2 border-accent;
    }
    
    &.secondary, &.box button, &.box input, &.box textarea {
        @apply bg-secondary text-dark border-accentAlt;
    }
}

.iconWrapper {

    +input {
        background-color: inherit;
    }
        
    @apply flex items-center;
    
}

.bar {
    box-shadow: var(--box-shadow); 
    align-items: center;
    @apply bg-primary w-full static p-4 flex justify-between min-h-20;
}

.logo {
    border: 1px solid;
    padding: 0.5rem 0.75rem;
    line-height: 1;
    text-decoration: underline;
}

.easeOut{
    transition: all 0.5s ease-out;
}

@media screen and (min-width: var(--screen-sm)) {
}

@media screen and (min-width: var(--screen-md)) {
}