@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color: var(--text-dark);
    background-color: var(--secondary);
    letter-spacing: -0.05rem; // Josefin Sans font only.
}

h1 {
    @apply font-bold md:text-7xl text-5xl;
}

h6 {
    @apply text-2xl font-semibold;
}

input, button {
    line-height: 1;
    min-height: 3.25rem;
    min-width: 3.25rem;
    color: var(--text);
    
    @apply p-4;

    &:hover, &:focus{
        background-color: darken($primary, 50%);
    }
}

input::placeholder {
    color: var(--text);
}

svg {
    display: inline;
    stroke: var(--text-dark);

    path {
        fill: var(--text-dark);
    }

}

input, .button, textarea, .box {
    color: var(--text-dark);
     
    &:not(.default) {
        background-color: var(--primary);

        @apply rounded-lg shadow-lg border-b-2 border-accent;
    }
    
}

.secondary {
    &svg, >svg{
        stroke: var(--text);
    }

    path {
        fill: var(--text);
    }

    &.button, &input, &textarea {
        background-color: var(--secondary);
        color: var(--text);
        border-color: var(--accent-alt);
    }
}

.icon-wrapper {
    display: flex;
    align-items: center;

    +input {
        background-color: inherit;
    }
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary);

    @apply w-full p-3 min-h-20 shadow-xl; 
}

.logo {
    border: 2px solid;
    padding: 0.5rem 0.75rem;
    line-height: 1;
    text-decoration: underline;
}

.easeOut{
    transition: all 0.5s ease-out;
}

@media screen and (min-width: var(--screen-sm)) {
}

@media screen and (min-width: var(--screen-md)) {
}