:root {
    --primary: #4a1920;
    --secondary: #e49a61;
    --accent: #d72940;
    --accent-alt: #764622;

    --text: #d4e9eb; 
    --text-dark: #282b2b;
    --box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);
    --border-radius: 0.5rem;
}