$primary: #e49a61;
$secondary: #4a1920;
$accent: darken($primary, 30%);
$accent-alt: lighten($secondary, 30%);

$black: #000000;
$gray: #4a4a4a;
$green: #3cb371;

$text: #d4e9eb;
$text-dark: #202727;
$box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);
$border-radius: 0.5rem;